<!DOCTYPE html>
<html lang="zh-Hans">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover"
    />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <title>title</title>
    
    <meta name="description" content="description">
    <script src="../../assets/js/flexible.js">
    </script>
  </head>
  <body>
    <div id="app" v-cloak></div>
  </body>
</html>
